@charset "UTF-8";

@font-face {
    font-family: "advancedPixel";
    src: url('advanced_pixel_lcd-7.ttf');
}

body{
    background-color: white;
}

/* formatando o menu */

nav#menu {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    align-items: center;
    text-align: center;
}

nav#menu ul {
    width: 100%;
    flex-wrap: wrap;
    left: 50px;
    display: flex;  
    text-decoration: none;
    list-style-type: none;
    align-content: center;
    align-items: center;
    text-align: center;
}

nav#menu li {
    transition: background-color 1s;
    transition: font-size 1s;
}

button:hover {
    background-color: black;
    color: white;
}

button {
    background-color: white;
    margin-left: 65px;
    width: 10rem;
    height: 5rem;
    transition: 1s;
    padding: 0px;
    font-size: inherit;
    border:solid 1px;
}
/* Relogio */

div#Relogio{
    display: block;
    position: relative;
    padding: 10px;
}

div#Relogio h1{
    font-size: 80px;
    font-family: advancedPixel;
}

div#Relogio p#buttonRelogio{
    font-size: 150px;
    font-family: advancedPixel;
}

div#Relogio p#buttonData{
    font-size: 50px;
    font-family: advancedPixel;
}   