@charset "UTF-8";

body{
    background-color: white;
    @font-face {
        font-family: advancedPixel;
        src: url('advanced_pixel_lcd-7.ttf')
    }
}

nav#menu img {
    margin-top: 10px;
    margin-left: 10px;
}

/* formatando o menu */

nav#menu {
    flex-wrap: wrap;
    display: flex;
    align-content: center;
    text-align: center;
}

nav#menu img{
    width: 100px;
    height: 100px;
}

nav#menu ul {
    flex-wrap: wrap;
    left: 50px;
    display: flex;  
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}

nav#menu li {
    transition: background-color 1s;
    transition: font-size 1s;
}

button:hover {
    background-color: black;
    color: white;
}

button {
    background-color: white;
    margin-left: 65px;
    width: 10rem;
    height: 5rem;
    transition: 1s;
    padding: 0px;
    font-size: inherit;

}
/* Relogio */

div#Relogio{
    display: block;
    position: relative;
    padding: 10px;
}

div#Relogio h1{
    font-size: 80px;
    font-family: advancedPixel;
}

div#Relogio p#buttonRelogio{
    font-size: 150px;
    font-family: advancedPixel;
}

div#Relogio p#buttonData{
    font-size: 50px;
    font-family: advancedPixel;
}